      <section class="searchBox">
        <form action="/search" method="GET">
          <div>
            <input type="text" name="search" placeholder="Buscar...." />
            <button type="submit">
              <i class="fa-solid fa-search searchIcon"></i>
            </button>
          </div>
        </form>
      </section>