<footer>
  <section>
    <article>
      <ul>
        <li><a href="/posts">PUBLICACIONES</a></li>
        <li><a href="/users/login">INGRESAR</a></li>
        <li><a href="/users/register">REGISTRARSE</a></li>
        <li><a href="/faq">PREGUNTAS FRECUENTES</a></li>
        <li><a href="/contact">CONTACTANOS</a></li>
      </ul>
    </article>
    <hr>
    <article>
      <p>&copy; 2023 LaCampanaOnline.</p>
      <p>Todos los derechos reservados.</p>
    </article>
  </section>
</footer>
