<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <main class="main_faq">

        <h1>PREGUNTAS FRECUENTES</h1>

    </main>
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
  </body>
</html>
