<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <main class="main_posts">
      <section>
        <form action="/" method="post">
          <div>
            <input type="text" name="search" placeholder="Buscar...." />
            <button type="submit">
              <i class="fa-solid fa-search searchIcon"></i>
            </button>
          </div>
        </form>
      </section>
      <section>
        <h2>Últimos articulos agregados</h2>

        <div
          style="
            --swiper-navigation-color: #fff;
            --swiper-pagination-color: #fff;
          "
          class="swiper mySwiper carouselBox"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                <div class="textoCarousel">
                  <h4 class="tituloCarousel">Titulo de articulo</h4>
                  <h4 class="precioCarousel">5.000$</h4>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
    </main>
    <%- include("./partials/footer") %> <%- include("./partials/scripts") %>
  </body>
</html>
