.tituloDetalle{
    padding: 20px 0;
    text-align: center;
}
.main_detail h2{
    font-weight: 800;
    padding: 10px;
}
.main_detail p{
  padding: 10px;

}
.tablaDetail{
 width: 100%;
 padding: 25px 10px;
}
.row1, .row2{
display: flex;
flex-direction: row;


}
.main_detail h4{
    align-self: center;
    width: 50%;
padding: 5px;
}
.row1{
    background-color: rgb(255, 214, 160);
}
.row2{
    background-color: antiquewhite;
}
.imagesDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(109, 136, 255, 0.616);
    border-radius: 10px;
    margin: 10px;
}

/* Estilos para miniaturas de imágenes */
.thumbnails {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .thumbnail {
    width: 100px; /* Tamaño de miniatura */
    height: auto;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px ;

  }
  
  /* Estilos para el visor de imágenes */
  .image-viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
      background-color: rgba(0, 0, 0, 0.7) ;
  }
  
  .full-image {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 100px;
    border-radius: 10px ;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
   right: 10px;

    font-size: 50px;
    color: aliceblue;
    cursor: pointer;
  }
  
  /* Estilos para el fondo negro */
  .overlay {
    display: none;
    position: fixed;
    z-index: 1;
  }
  .contactUser{
    width: 100%;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.445);
border-radius: 5px;
margin: 15px 10px 100px 10px ;
text-align: center;
  }
  .whatsApp{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
   
    background-color: rgb(72, 238, 56);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 0 auto
  }
  .whatsApp i{
    display: block;
     font-size: 70px;
  padding: 5px;
  }