.main_result{
   
 padding: 10px 0 50px 0;
}


.boxResult{
display: flex;
justify-content: space-around;
background-color: rgba(54, 54, 240, 0.76);
margin: 15px 0;
padding: 10px 0;
border-radius: 5px;
box-shadow: 0 0 10px black;
}
.boxResult img{
    width: 40%;
    height: auto;
    }

.textoResult{
    width: 40%;
    align-self: center;

}
.verResultados{
    text-decoration: none;
    color: blanchedalmond;
}
