.postCardDetail{
    width: 90%;
    margin: 10px auto;
    border: 3px solid rgb(189, 189, 189);
    box-shadow: 1px 1px 1px black;
}
/* Caousel Images --------------------*/
.imgCarousel {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
  }
  
  .imgCarousel img {
    max-width: 100%;
    height: auto;
    vertical-align:auto;
  }
  .description{
    white-space: pre-line
  }